name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: action/setup.node@v3
        with:
          node-version: '24'

      - name: Install Dependencies
        run: npm install

      - name: Run test
        run: npm test








        
